<%- include('../../partials/head.ejs') %>
      <div class="container my-container my-5">
            <div class="row">
                  <div class="col-md-6 offset-md-3">
                        <div class="card card-body">

                              <h4 class="text-center text-success">Login To Your Account</h4>

                              <form action="/auth/login" method="POST">

                                    <div class="form-group">
                                          <label for="email"> Enter Email</label>
                                          <input type="email" name="email" id="email" class="form-control <%= error.email ? 'is-invalid' : ' ' %> ">
                                          <div class="invalid-feedback">
                                                <%= error.email &&  error.email%> 
                                          </div>
                                    </div>

                                    <div class="form-group">
                                          <label for="password"> Enter Password</label>
                                          <input type="password" name="password" id="password" class="form-control <%= error.password ? 'is-invalid'  : ' ' %>">
                                          <div class="invalid-feedback">
                                                <%= error.password &&  error.password%> 
                                          </div>
                                    </div>
                                 <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn btn-outline-success" value="Log In">
                              </div>
                              </form>
                              <a href="/auth/signup" class="my-3 text-center text-success">Don't Have an Account? Create One</a>
                 
                        </div>
                  </div>
            </div>
      </div>

      <%- include('../../partials/footer.ejs') %>
            </body>

            </html>