<%- include('../../partials/head.ejs') %>


    <div class="container-fluid ">

        <div class="row">

            <div class="col-md-2">
                <%- include('../../partials/sidebar.ejs') %> 
            </div>

            <div class="col-md-10">
                    <div  class="row">
                        <div class="col-md-10 mx-5 my-5">
                            <div class="card card-body">
                            <h5 class="text-center">Your Recent Post</h5>
                            <div class="row ">
                                <% if(posts.length === 0 ) {%>
                                <div class="text-center text-muted">
                                    <p>There is no post...</p>
                                </div>
                            <% } else {%>
                                 <div class="row  mt-2  ">
                                    <% for(let post of posts){ %> 
                                        <div class="card col-sm-3 ml-5 mb-2">
                                            <% if (post.thumbnail) { %> 
                                                <img src=" <%= post.thumbnail %> "  class="card-img-top mt-3 " style="width: 100%; height: 16vw; object-fit: cover;">
                                             <% }%> 
                                            <div class="card-body p-0">
                                                  <a href="/explorer/<%= post._id %>  " style="color:#222">
                                                      <p class="my-2 text-center"><%= post.title %> </p>
                                                   </a> 
                                            </div>
                                        </div>
                                    <% } %>   
                                 </div>
                              <% } %>   

                            </div>

                             <h5 class="text-center mt-3">Your Bookmarks</h5>
                            <div class="row ">
                                <% if(bookmarks.length === 0 ) {%>
                                <div class="text-center text-muted">
                                    <p>There is no post...</p>
                                </div>
                            <% } else {%>
                                 <div class="row  mt-2  ">
                                    <% for(let post of bookmarks){ %> 
                                        <div class="card col-sm-3 ml-5 mb-2">
                                            <% if (post.thumbnail) { %> 
                                                <img src=" <%= post.thumbnail %> "  class="card-img-top mt-3 " style="width: 100%; height: 16vw; object-fit: cover;">
                                             <% }%> 
                                            <div class="card-body p-0">
                                                  <a href="/explorer/<%= post._id %>  " style="color:#222">
                                                      <p class="my-2 text-center"><%= post.title %> </p>
                                                   </a> 
                                            </div>
                                        </div>
                                    <% } %>   
                                 </div>
                              <% } %>   

                            </div>
                        </div>
                        </div>
                    </div>

                

            </div>

        </div>

    </div>

    <%- include('../../partials/footer.ejs') %>
        </body>
  </html>