<%- include('../../../partials/head.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">

    <div class="container-fluid">

        <div class="row">
            
            <div class="col-md-2">
                <%- include('../../../partials/sidebar.ejs') %> 
            </div>

            <div class=" col-md-10">
                <div class="row">
                    <div class="col-md-10 mx-5 my-5">
                           <div class="card card-body">
                        <h5  class="text-center">List Of  Your Post</h5>
                      
                            <% if(posts.length === 0) { %> 
                                    <div class="text-center text-muted my-3 mx-3">
                                        <h5 >There is no posts...</h5>
                                        <a  href="/posts/create" class="btn btn-outline-primary btn-sm mt-3"> Create Post Now</a>
                                    </div>
                            <% }else{ %> 
                                  <div class="row  mt-2 ">
                                    <% for (let post of posts.reverse()) {%>
                                        <div class="card col-sm-3 ml-5 mb-2">
                                                <% if(post.thumbnail) {%> 
                                                    <img src="<%= post.thumbnail %> " alt="<%= post.title %>" class="card-img-top mt-3" style="width: 100%; height: 15vw; object-fit: cover;">
                                                <% } %> 
                                                <div class="card-body">
                                                    <a href="/posts/edit/<%= post._id %>" style="color:#222">
                                                            <h5 class="text-center"><%= post.title %> </h5>
                                                    </a>
                                                </div>
                                        </div>
                                    <% } %>  
                                     </div>
                            <% } %> 
                    </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

<%- include('../../../partials/footer.ejs') %>
 </body>
  </html>